.card {
    margin: auto;
    border: none;
}

.card-img-top {
    border: none;
}

/* Inputa stil ekleme */
input[type="text"] ,input[type="email"], input[type="password"], input[type="tel"] {
    background-color: #EEEFF1;
    padding: 10px;
    /* İçerideki boşluk değeri */
    border: 1px solid #EEEFF1;
    /* Kenarlık rengi */
    border-radius: 5px;
}

/* Butonun stilini düzenleme */
.btn-extra {
    padding: 5px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 40px;
    font-size: 15px;
    font-family: "Inter Family";
}

.btn-extra:hover {
    background-color: #0056b3;
    /* Butona hover efekti */
}

#wrapper {
    display: flex;
    /* Flexbox kullanma */
}

/* Section öğesini sağa yaslamak için */
#right-content {
    margin-top: 110px;
}
#left-content {
    margin-top: 50px;
    margin-bottom: 0;
}

/*Profile Index.Html */

.bgc {
    /* form elemanları arkaplan rengi*/
    background-color: rgb(238, 239, 241);
}


/* Profile Güvenlik*/

.security-form-text {
    margin-top: 10px;
}

.security-form-input {

    background-color: #f5f5f5;
    border: none;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
}

.profile-text {
    margin-top: 10;
}

.profile-input {

    border: none;
    background: #f5f5f5;
}

.form-label {
    margin-bottom: 10px;
}

.form-control {
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f5f5f5;
}



/* Profil-Favoriler */


.favori_cards #right-content {
    padding: 20px;
    margin-left: auto;
    flex: 2;
}

.favori_cards .search-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.favori_cards .search-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.favori_cards .like-compare {
    float: right;
    font-size: 1.2rem;
}

.favori_cards .info-icons span {
    display: inline-block;
    margin-right: 15px;
    font-size: 0.9rem;
    color: #555;
}

.favori_cards .rating {
    color: #ffc107;
    font-weight: bold;
}

.favori_cards .actions button {
    margin-right: 10px;
}

@media (max-width: 768px) {

    .favori_cards .search-card {
        height: auto;
    }

    .favori_cards .like-compare {
        float: none;
        margin-bottom: 10px;
    }
}

.favori_cards .info-icons .rating {
    width: 500px;
}

.favorite-cards .hospital-card {
    margin:0;
    padding:10px;
}
.favorite-cards .hospital-card .card-body {
    padding:20px;
}

.card-container .sc1-card{
margin:0;
padding:10px;
}

.sc1-card .toggle-container i{
    font-size: 21px;
}

.page-display {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
